body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('/src/image.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    

  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .daily-earnings {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  