
body {
  font-family: "Roboto", sans-serif;
  
  padding: 0;
  display: flex;
  animation: gradientAnimation 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  display: flex;
  background-color: #a777e3;
  height: 100dvh;
}

.sidebar {
  background-color: #2c2f33;
  padding: 20px;
  color: white;
  flex-shrink: 0;
  width: 220px;
  max-height: min-content;
}

.sidebar .logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 16px;
}

.sidebar ul li .dropdown-content {
  display: none;
  position:block;
  left: 0;
  max-width: 200px;
  z-index: 1;
  padding-left: 10px;
}

.sidebar ul li:hover .dropdown-content {
  display: block;
  margin: 10px;
}

.sidebar ul li .dropdown-content a {
  color: white;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}

.sidebar ul li.logout {
  display: absolute;
  align-items: center;
  cursor: pointer;
}

.sidebar ul li.logout span {
  margin-left: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(252, 44, 44);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .user-id {
  margin-right: 10px;
  font-size: 1.2rem;
}

.wallet-info {
  font-size: 1.2rem;
}

.display-mode {
  display: flex;
}

.display-mode button {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.dark-mode {
  background-color: #282a2d;
}

.light-mode {
  background-color: #f0f0f0;
}

.dark-mode.active {
  border: 2px solid white;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #23272a;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
  width: 115px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container a {
  color: #ffffff;
  background-color: #3c8dbc;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.button-container a:hover {
  background-color: #2c6cb0;
}
