body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1f4037 0%, #99f2c8 100%);
    display: block;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
  }
  
  .user-info-container {
    max-width: 800px;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  header {
    text-align: center;
  
  }
  
  header .logo img {
    max-width: 80%;
    height: 40%;
  }
  
  header h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 5px 0;
    color: #f2a365;
  }
  
  main {
    padding: 0 20px;
    flex-grow: 1;
  }
  
  .user-details, .crypto-details {
    margin-bottom: 20px;
  }
  
  .user-details h2, .crypto-details h2 {
    font-family: 'Orbitron', sans-serif;
    color: #f2a365;
    border-bottom: 2px solid #f2a365;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  .user-details p, .crypto-details p {
    margin: 5px 0;
    color: #e0e0e0;
  }
  
  .crypto-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .crypto-details ul li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .transaction-type {
    font-weight: bold;
    color: #4caf50;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
  }
  
  @media (max-width: 768px) {
    .user-info-container {
      padding: 15px;
    }
    
    main {
      padding: 0 15px;
    }
  }
  
  @media (max-width: 480px) {
    header .logo img {
      max-width: 70%;
    }
    
    header h1 {
      font-size: 1.5em;
    }
  
    .user-details h2, .crypto-details h2 {
      font-size: 1.2em;
    }
  
    .user-details p, .crypto-details p {
      font-size: 0.9em;
    }
  
    .crypto-details ul li {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  